html, body {
  overflow: hidden; }

.content {
  background: #111; }

.action-bar h2.title {
  max-width: 150px;
  overflow-x: hidden;
  text-overflow: ellipsis; }
.action-bar .logo {
  background: #999;
  color: #000;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  margin: auto 5px; }

.action-overflow-docs {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.action-overflow-docs .spinner {
  right: 10px; }

.content {
  margin-top: 50px;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .content .list.inset {
    padding: 0; }

.list.inset li {
  position: relative; }
  .list.inset li h3, .list.inset li p {
    width: 90%; }
  .list.inset li strong {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; }
  .list.inset li .right-arrow {
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 2em;
    color: #ccc; }

.btn.cta {
  background: #0099cc;
  border: 0;
  padding: 25px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 2px 2pt rgba(51, 181, 229, 0.6);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 2px 2pt rgba(51, 181, 229, 0.6);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 2px 2pt rgba(51, 181, 229, 0.6); }

.btn-block {
  display: block;
  width: 100%;
  text-align: center; }
  .btn-block i {
    position: relative;
    top: 2px; }

.clear {
  overflow: hidden; }

.bottom-cta {
  position: relative;
  margin: 20px auto;
  background: #c0392b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
  border: 1px solid #962d22; }
  .bottom-cta h3, .bottom-cta h4 {
    margin: 0;
    padding: 0; }
  .bottom-cta a {
    color: #fff;
    display: block; }
    .bottom-cta a h3 {
      color: #fff; }
    .bottom-cta a h4 {
      color: #ccc;
      font-size: 0.8em;
      font-weight: 400;
      width: 90%;
      line-height: 1.2; }
  .bottom-cta i {
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 2em; }

.alert {
  padding: 3px 10px;
  margin-bottom: 10px;
  margin-top: -15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .alert.success {
    background: #16a085; }
  .alert.warning {
    background: #f39c12; }
  .alert.danger {
    background: #c0392b; }
  .alert.secondary {
    background: #ecf0f1;
    color: #000; }

.share-button {
  width: 100%;
  display: block;
  margin-bottom: 10px; }
  .share-button.facebook {
    background: #3b5998;
    color: #fff; }
  .share-button.twitter {
    background: #02b0e8;
    color: #000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }
  .share-button.gplus {
    background: #be2933;
    color: #fff; }

.panel .panel-content {
  margin: 10px auto;
  color: #ccc; }
  .panel .panel-content h5 {
    padding-top: 20px;
    border-top: 1px dashed #aaa;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 10px; }

.help {
  color: #ddd;
  font-size: 0.8em; }

.centered {
  text-align: center; }

.home-view .list.inset {
  margin-bottom: 40px; }
  .home-view .list.inset li {
    padding: 0; }
    .home-view .list.inset li.list-item-two-lines a {
      height: 65px; }
    .home-view .list.inset li a {
      display: block;
      padding: 5px; }

.timer-bar .span10 {
  width: 60%;
  margin: 0 2%;
  float: left; }
.timer-bar .span2 {
  width: 35%;
  float: left; }
.timer-bar .alert {
  margin-top: 10px; }
.timer-bar h3 {
  font-size: 1em; }
.timer-bar .btn-small {
  margin-top: 10px;
  padding: 8px 10px;
  width: 100%;
  display: block;
  text-align: center; }

.question-view ul.list.inset {
  margin-bottom: 20px; }
.question-view .list-divider.question {
  text-transform: none;
  font-size: 1.5em;
  color: #fff;
  line-height: 1.3; }
.question-view li.option {
  padding: 0; }
  .question-view li.option label.input-radio-wrapper {
    padding: 5px;
    color: #ccc;
    display: block;
    width: 100%;
    height: auto; }
    .question-view li.option label.input-radio-wrapper .input-radio-inner {
      float: left;
      position: relative;
      top: 10px;
      margin-right: 10px;
      border-color: #A09E9E; }
    .question-view li.option label.input-radio-wrapper.active {
      outline: 0;
      background: #1f5366; }
    .question-view li.option label.input-radio-wrapper.strike {
      visibility: hidden; }
  .question-view li.option.incorrect label.input-radio-wrapper {
    background: #c0392b;
    position: relative; }
    .question-view li.option.incorrect label.input-radio-wrapper:after {
      content: "\e020";
      font-family: icomoon;
      font-style: normal;
      font-weight: normal;
      speak: none;
      position: absolute;
      right: 15px;
      top: 10px;
      background: #000;
      width: 24px;
      height: 30px;
      line-height: 30px;
      padding-left: 9px;
      font-weight: 700;
      font-size: 20px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
  .question-view li.option.correct label.input-radio-wrapper {
    background: #16a085;
    position: relative; }
    .question-view li.option.correct label.input-radio-wrapper:after {
      content: "\e022";
      font-family: icomoon;
      font-style: normal;
      font-weight: normal;
      speak: none;
      position: absolute;
      right: 15px;
      top: 10px;
      background: #000;
      width: 24px;
      height: 30px;
      line-height: 30px;
      padding-left: 9px;
      font-weight: 700;
      font-size: 20px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }

#rating-overlay, .rating-dialog-wrapper {
  opacity: 1;
  display: block;
  visibility: visible; }

#rating-overlay {
  width: 100%; }
  #rating-overlay .dialog-content {
    padding: 15px;
    left: 30%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    #rating-overlay .dialog-content h3 {
      font-size: 1.5em;
      line-height: 1.3;
      margin-bottom: 15px; }
    #rating-overlay .dialog-content .btn {
      font-size: 20px;
      padding: 15px; }
      #rating-overlay .dialog-content .btn.cta {
        margin-bottom: 20px;
        padding: 25px; }
    #rating-overlay .dialog-content .disable-notifications {
      display: block;
      padding: 15px;
      margin-top: 10px;
      text-align: center; }

.test-view {
  margin-top: 0; }
  .test-view .answer {
    margin-bottom: 20px; }
  .test-view .test-list {
    list-style: none; }
    .test-view .test-list li .count {
      font-weight: 300;
      color: #ccc; }
    .test-view .test-list li.list-divider.question {
      font-size: 1.3em;
      line-height: 1.2em; }
