<ng-include src="'partials/header.html'"></ng-include>


<div id="recommended-books-view" class="content recommended-books-view">
    <ul class="list inset recommended-books">
        <li class="list-divider">Recommended Books</li>

        <li class="list-item-single-line">
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+ias&affid=bharaniabh" target="_system" >
            <strong>GK books for UPSC IAS - CSAT (Civil Service) Prelims</strong>
                <i class="icon-chevron-right right-arrow"></i>
            </a>
        </li>


        <li class="list-item-single-line">
            <a href="http://www.flipkart.com/search?q=current+affairs+2013&affid=bharaniabh" target="_system" >
            <strong>General Awareness and Current Affairs 2013-2014</strong>
                <i class="icon-chevron-right right-arrow"></i>
            </a>
        </li>


        <li class="list-item-single-line">
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+exams&affid=bharaniabh" target="_system" >
            <strong>General Knowledge books for Competitive Exams</strong>
                <i class="icon-chevron-right right-arrow"></i>
            </a>
        </li>


        <li class="list-item-single-line">
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+in+hindi&affid=bharaniabh" target="_system" >
            <strong>GK and Current Affairs books in Hindi</strong>
                <i class="icon-chevron-right right-arrow"></i>
            </a>
        </li>


        <li class="list-item-single-line">
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+bank+po+exams&affid=bharaniabh" target="_system" >
            <strong>GK books for Banking, Bank PO and Finance exams</strong>
                <i class="icon-chevron-right right-arrow"></i>
            </a>
        </li>

        <li class="list-item-single-line">
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+children&affid=bharaniabh" target="_system" >
            <strong>General Knowledge Books for Children</strong>
                <i class="icon-chevron-right right-arrow"></i>
            </a>
        </li>

        <li class="list-item-single-line">
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+ssc&affid=bharaniabh" target="_system" >
            <strong>SSC General Awareness and GK books</strong>
                <i class="icon-chevron-right right-arrow"></i>
            </a>
        </li>


    </ul>
</div>