<ng-include src="'partials/header.html'"></ng-include>


<div id="share-view" class="content share-view">
    <div class="panel">
        <h2 class="panel-header">
            If you like this app, please share it with your friends.
        </h2>


        <div class="panel-content">

            <button class="btn btn-block share-button facebook" share="facebook">Share on Facebook</button>

            <button class="btn btn-block share-button twitter" share="twitter">Tweet about this app</button>

            <button class="btn btn-block share-button gplus" share="gplus">Share on Google+</button>
        </div>
    </div>
</div>


